<!-- -*- mode: XML -*- -->
<launch>
  <node pkg="techx_bot" type="techx_bot" name="techx_bot" output="screen">
    <param name="cov_x" value= ".01"/>
    <param name="cov_y" value= ".01"/>
    <param name="cov_th" value= ".01"/>
    <param name="cov_vx" value= "0.01"/>
    <param name="cov_vy" value= "0.01"/>
    <param name="cov_vth" value= "0.01"/>

    <param name="LEFT_MOTOR" value= "/dev/ttyUSB0"/>
    <param name="RIGHT_MOTOR" value= "/dev/ttyUSB1"/>

    <param name="AXLE_LEN" type="int" value="520"/>
    <param name="WHEEL_DIA" value="150"/>
    <param name="GEAR_RATIO" value="43"/>
    <param name="STEPS_PER_REV" value="2000"/>
    <param name="wheel_circum_correction" value="1.096"/>
    <param name="wheel_base_correction" value="0.969068"/>
    <param name="odom_angular_scale_correction" value="1.0339"/>

    <param name="CurrentRegulatorPGain" value="937"/>
    <param name="CurrentRegulatorIGain" value="656"/>
    <param name="VelocityPGain" value="850"/>
    <param name="VelocityIGain" value="200"/>
    <param name="PositionPGain" value="2646"/>
    <param name="PositionIGain" value="43"/>
    <param name="PositionDGain" value="611"/>

    <param name="ProfileAcceleration" value="3000"/>
    <param name="ProfileDeceleration" value="6000"/>
    <param name="ProfileVelocity" value="2000"/>
    <param name="MaxProfileVelocity" value="6000"/>
    <param name="MaxFollowError" value="10000"/>
    <param name="PositionWindow" value="200"/>
    <param name="PositionWindowTime" value="250"/>

    <param name="MotorMaxContinuousCurrent" value="5800"/>
    <param name="ThermalTimeConstantWinding" value="1316"/>
  </node> <!--bot node -->
</launch>
