<!-- -*- mode: XML -*- -->
<launch>

	  <!-- necessary tf for robot_pose_ekf to connect to rest of robot -->
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_joint" args="0 0 0.118 0 0 0  /base_footprint /base_link 25" />

	  <!-- tf for components, ideally should be modelled in urdf -->
	<node pkg="tf" type="static_transform_publisher" name="laser_joint" args="0.23 0 0.125 0 0 0  /base_link /laser 25" />

	<include file="$(find techx_bot)/launch/EPOS1motor_params.launch" />
	<param name="odom_pub_rate" value="13"/>

	<!-- include file="$(find techx_sensors)/launch/imu.launch" / -->
	<!-- param name="imu_pub_rate" value="15"/ -->

	<node pkg="techx_bot" type="laptop_battery.py" name="laptop_battery_monitor"/>
	<param name="laptop_min_charge" type="int" value="20"/> <!-- in percentage (default 10%), robot will be estopped when laptop battery goes below this value -->

	<include file="$(find transporter)/launch/hokuyo.launch" />
		<param name="publish_laser" type="bool" value="false"/> 

	  <!-- The odometry estimator, provides tf odom->base_footprint -->
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="freq" value="20.0"/>
		<param name="output_frame" value="odom"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="false"/>
		<param name="vo_used" value="false"/>

		<remap from="imu_data" to="/imu/data"/>
	</node>

</launch>
