<launch>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="10.0"/>  <!-- update map every 10 s -->
    <param name="maxUrange" value="11.0"/> <!-- max usable range of laser -->
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/> <!-- odom error in translation as a fn of translation-->
    <param name="srt" value="0.02"/> <!-- odom error in translation as a fn of rotation-->
    <param name="str" value="0.01"/> <!-- odom error in rotation as a fn of translation-->
    <param name="stt" value="0.02"/> <!-- odom error in rotation as a fn of rotation-->
    <param name="linearUpdate" value="0.5"/> <!-- process a scan each time the robot translates this far-->
    <param name="angularUpdate" value="0.436"/> <!-- process a scan each time the robot rotates this far-->
    <param name="temporalUpdate" value="-1.0"/> <!-- neg val turns off time based update-->
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>

    <param name="xmin" value="-10.0"/>
    <param name="ymin" value="-10.0"/>
    <param name="xmax" value="10.0"/>
    <param name="ymax" value="10.0"/>
    <param name="delta" value="0.05"/> <!-- map resolution-->

    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >
    <rosparam file="$(find transporter_navigation)/explore/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find transporter_navigation)/explore/global_costmap.yaml" command="load" />
    <rosparam file="$(find transporter_navigation)/explore/navfn_params.yaml" command="load" />
    
    <rosparam file="$(find transporter_navigation)/explore/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find transporter_navigation)/explore/local_costmap.yaml" command="load" />
    <rosparam file="$(find transporter_navigation)/explore/trajectory_planner_params.yaml" command="load" />
  </node>
  
  <node pkg="explore" type="explore" respawn="false" name="explore" output="screen" >
    <rosparam file="$(find transporter_navigation)/explore/explore_costmap_common.yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find transporter_navigation)/explore/explore_costmap.yaml" command="load" />

    <param name="potential_scale" value="0.005"/>
    <param name="orientation_scale" value="0.0"/>
    <param name="gain_scale" value="1.0"/>
    <param name="close_loops" value="false"/>
    <param name="progress_timeout" value="10"/>
   
    <remap from="slam_entropy" to="gmapping/entropy"/>
  </node>
  
</launch>
