<!-- -*- mode:  XML -*- -->
<launch>
  <node pkg="uvc_camera" type="camera_node" name="uvc_camera" output="screen">
    <param name="fps" type="int" value="20" />
    <param name="frame" type="string" value="camera" />
    <param name="device" type="string" value="/dev/sensors/usb_webcam" />
  </node>
</launch>
