<?xml version="1.0"?>

<robot name="transporter">
  <property name="M_PI" value="3.14159"/>
  <material name="Blue">
    <color rgba="0.1 0.1 0.8 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.1 0.6 0.0 0.2"/>
  </material>
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

  <!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin, navigation stack depends on this frame -->
  <link name="base_footprint">
    <inertial>
      <mass value="0.0001" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
              iyy="0.0001" iyz="0.0" izz="0.0001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
      <material name="Green" />
    </visual>
  </link> <!-- base_footprint -->

  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.178" rpy="0 0 0" />        
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <link name="base_link">
    <inertial>
      <mass value="15" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
				iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.002" radius="0.300"/>
      </geometry>
      <material name="Blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.89" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.18" radius="0.350"/>
      </geometry>
    </collision>
  </link> <!-- base_link -->


  <joint name="laser_joint" type="fixed">
    <origin xyz="0.23 0.0 0.070" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="laser" />
  </joint>

  <link name="laser">
    <visual>
      <geometry>
        <box size="0.02 0.035 0.002" />
      </geometry>
      <material name="Red" />
    </visual>
    <inertial>
      <mass value="0.150" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
        iyy="0.0001" iyz="0.0"
        izz="0.0001" />
    </inertial>
  </link>

</robot>
